.input-div{
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: space-around;
}
input{
    width: 400px;
    height: 30px;
    margin: 10px;
    text-align: center;
    font-size: larger;
}
input:focus{
    text-align: start;
}
.input-div label{
    position: absolute;
    top: -15px;
    left:12px;
}
.error{
    color: red;
}
